
<!-- Main css -->
    <link rel="stylesheet" th:href="@{/css/custcss/style.css}">

<!-- JS -->
    <script th:src="@{js/jquery.min.js}"></script>
    <script th:src="@{js/main.js}"></script>

<style>

</style>

<script>
	var check=false;
	var check2=true;
	
	function checkAll(){
		var nick=$('#nick').val();
		var name=$('#name').val();
		var pass1=$('#pass').val();
		var pass2=$('#re_pass').val();
		var phone=$('#phone').val();
		var email=$('#email').val();
		
		if(!checkPassword(pass1,pass2)){
			check=false;
		}else if(!checkName(name)){
			check=false;
		}else if(!checkNick(nick)){
			check=false;
		}else if(!checkEmail(email)){
			check=false;
		}else if(!checkPhone(phone)){
			check=false;
		}else if(!check2){
			$('#nickspan').attr('style','color:red;');
        	$('#nickspan').text('Not Available');
			check=false;
		}else{
			check=true;
		};

		return check;
	};
	
	
	// password 유효성 검사
	function checkPassword(pass1,pass2){
		
		var passRegExp=/^[a-zA-Z0-9~!@#$%^&*()_+|<>?:{}]{8,20}$/;
		
		if(pass1==null || pass1=='' || pass2==null || pass2==''){
			$('#passspan').attr('style','color:red;');
			$('#passspan').text('Not Available');
			return false;
		}else if(pass1!=pass2){
			$('#passspan').attr('style','color:red;');
			$('#passspan').text('Not Same');
			return false;
		}else if(!passRegExp.test(pass1)){
			$('#passspan').attr('style','color:red;');
			$('#passspan').text('Not Available');
			return false;
		}else{
			$('#passspan').attr('style','color:blue;');
			$('#passspan').text('Available');
			return true;
		};
		
	};
	
	// name 유효성 검사
	function checkName(name) {
        
		var nameRegExp=/^[가-힣]{2,4}$/;
		
        if (name==null || name=='') {
        	$('#namespan').attr('style','color:red;');
        	$('#namespan').text('Not Available');
        	return false;
        }else if(!nameRegExp.test(name)){
        	$('#namespan').attr('style','color:red;');
        	$('#namespan').text('Not Available');
        	return false;
		}else{
			$('#namespan').attr('style','color:blue;');
        	$('#namespan').text('Available');
        	return true;	
        };
        
    };
	
	// nick 유효성 검사
	function checkNick(nick) {
        
        if (nick==null || nick=='') {
        	$('#nickspan').attr('style','color:red;');
        	$('#nickspan').text('Not Available');
        	return false;
        }else{
        	$('#nickspan').attr('style','color:blue;');
        	$('#nickspan').text('Available');
        	return true;
        }
    };
	
    // phone 유효성 검사
	function checkPhone(phone){
		var phoneRegExp= /^(070|02|0[1-9]{1}[0-9]{1})[0-9]{3,4}[0-9]{4}$/;
		
		if(phone=='' || phone==null){
			$('#phonespan').attr('style','color:red;');
        	$('#phonespan').text('Not Available');
        	return false;
		}else if(!phoneRegExp.test(phone)){
			$('#phonespan').attr('style','color:red;');
        	$('#phonespan').text('Not Available');
        	return false;
		}else{
			$('#phonespan').attr('style','color:blue;');
        	$('#phonespan').text('Available');
        	return true;
		};
		
		
	};
	
	// email 유효성 검사
	function checkEmail(email){
		
		var emailRegExp=/^[A-Za-z0-9_]+[A-Za-z0-9]*[@]{1}[A-Za-z0-9]+[A-Za-z0-9]*[.]{1}[A-Za-z]{1,3}$/;
		
		if(email=='' || email==null){
			$('#emailspan').attr('style','color:red;');
        	$('#emailspan').text('Not Available');
			return false;
		}else if(!emailRegExp.test(email)){
			$('#emailspan').attr('style','color:red;');
        	$('#emailspan').text('Not Available');
			return false;
		}else{
			$('#emailspan').attr('style','color:blue;');
        	$('#emailspan').text('Available');
			return true;
		};
	};
	
	// 회원탈퇴
	function remove(){
		var con=confirm('정말 회원탈퇴하시겠습니까?');
		if(con==true){
			return true;
		}
	}
	

	$(document).ready(function(){
		
		
		
		
		
		$('#nick').keyup(function(){
			var nick=$(this).val();
			$.ajax({
				url:'[[@{/checknick}]]',
				data:{'cnick':nick},
				success:function(result){
					if(result==1){
						$('#nickspan').attr('style','color:red;');
						$('#nickspan').text('Not Available');
						check2=false;
					}else{
						checkNick(nick);
					}
				}
			});
			
		});
		
		
	
	});
</script>

<div class="main">

        <!-- Modifying member information form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Modifying member information</h2>
                        <form method="post" action="/usereditimpl" class="register-form" id="register-form" onsubmit="return checkAll()">
                            <div class="form-group">
                                <input type="text" name="custid" id="id" th:value="${editcust.custid}" placeholder="Your Id (영문자,숫자 4~12)" readonly="readonly"/><dr>
                            </div>
                            <div class="form-group">
                                <input type="password" name="custpwd" id="pass" th:value="${editcust.custpwd}" placeholder="Password (영문자,숫자,특수문자 8~20)"/>
                                <span id="passspan"></span>
                            </div>
                            <div class="form-group">
                                <input type="password" name="custpwd2" id="re_pass" placeholder="Repeat your password"/>
                            </div>
                            <div class="form-group">
                                <input type="text" name="custname" id="name" th:value="${editcust.custname}" placeholder="Your Name"/>
                                <span id="namespan"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" name="custnick" id="nick" th:value="${editcust.custnick}" placeholder="Your NickName"/>
                                <span id="nickspan"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" name="custphone" id="phone" th:value="${editcust.custphone}" placeholder="Your PhoneNumber ( - 생략)"/>
                                <span id="phonespan"></span>
                            </div>
                            <div class="form-group">
                                <input type="email" name="custemail" id="email" th:value="${editcust.custemail}" placeholder="Your Email" readonly="readonly"/>
                                <span id="emailspan"></span>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="modify" id="modify" class="form-submit" value="modify"/>
                            </div>
                           
                        </form>
                    </div>
                    <div class="signup-image" align="center">
                        <figure>
                        	<img th:src="@{/img/edit.jpg}">
                        	<a th:href="@{/remove(id=${editcust.custid})}" id="remove" class="signup-image-link" style="color:red;" onclick="return remove()">remove membership?</a>
                        </figure>
                    </div>
                </div>
            </div>
        </section>
        
</div>

    