<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<!-- 화면 해상도에 따라 글자 크기 대응(모바일 대응) -->
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<!-- jquery CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- fullcalendar CDN -->
<link
	href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css'
	rel='stylesheet' />
<script
	src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js'></script>
<!-- fullcalendar 언어 CDN -->
<script
	src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/locales-all.min.js'></script>
<!-- toastr css 라이브러리 -->
<link rel="stylesheet" type="text/css"
	href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
	<script type="text/javascript"
		src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
	<!-- toastr js 라이브러리 -->
	<script type="text/javascript"
		src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script>
		// 알람 메시지
		toastr.info('캘린더에 상세 일정을 짜 보세요!', '나만의 일정 짜기!', {
			timeOut : 5000
		});
		toastr.options.rtl = false;
		toastr.options.closeButton = true;
		toastr.options.progressBar = true;
	</script>
	<style>
/* body 스타일 */
html, body {
	overflow: scroll;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
}
/* 캘린더 위의 해더 스타일(날짜가 있는 부분) */
.fc-header-toolbar {
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
}
</style>
<br>
<h1>나의 일정</h1>
<body style="padding: 30px;">
	<!-- calendar 태그 -->
	<div id='calendar-container'>
		<div id='calendar'></div>
	</div>
	<script>
		document
				.addEventListener(
						'DOMContentLoaded',
						function() {
							$(function() {
								var request = $.ajax({
									url : '/mypage/fullcalendar',
									async : true,
									method : "get",
								});
								var plan = [];
								request.done(function(data) {
									for (var i = 0; i < data.length; i++) {
										
										plan.push ({
											title: data[i].plantitle ,
											start: data[i].planstartdate,
											end: data[i].planenddate,
											id: data[i].planid 
										})

									}
									
									// calendar element 취득
									var calendarEl = document
											.getElementById('calendar');
									// full-calendar 생성하기
									var calendar = new FullCalendar.Calendar(
											calendarEl,
											{
												height : '600px', // calendar 높이 설정
												expandRows : true, // 화면에 맞게 높이 재설정
												slotMinTime : '06:00', // Day 캘린더에서 시작 시간
												slotMaxTime : '23:00', // Day 캘린더에서 종료 시간
												// 해더에 표시할 툴바
												headerToolbar : {
													left : 'prev,next today',
													center : 'title',
													right : 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
												},
												initialView : 'dayGridMonth', // 초기 로드 될때 보이는 캘린더 화면(기본 설정: 달)
												navLinks : true, // 날짜를 선택하면 Day 캘린더나 Week 캘린더로 링크
												editable : true, // 수정 가능?
												droppable : true,
												drop : function(arg) {
													if (document
															.getElementById('drop-remove').checked) {
														arg.draggedEl.parentNode
																.removeChild(arg.draggedEl);
													}

												},
												selectable : true, // 달력 일자 드래그 설정가능
												nowIndicator : true, // 현재 시간 마크
												dayMaxEvents : true, // 이벤트가 오버되면 높이 제한 (+ 몇 개식으로 표현)
												locale : 'ko', // 한국어 설정
												eventAdd : function(obj) { // 이벤트가 추가되면 발생하는 이벤트

													var calendar = {
														
														plantitle : obj.event.title,
														planstartdate : obj.event.start,
														planenddate : obj.event.end
													}

													var request = $
															.ajax({
																url : '/mypage/fullcalendar',
																async : true,
																contentType : "application/json; charset=utf-8",
																method : "post",
																dataType : "json",
																data : JSON
																		.stringify(calendar)
															});

												},
												eventDrop : function(obj) { // 이벤트가 수정되면 발생하는 이벤트
												if(confirm("'"+obj.event.title +"' 일정을 수정하시겠습니까?")){
													
													var calendar = {
															planid : obj.event.id,
															planstartdate : obj.event.start,
															planenddate : obj.event.end
													}
													
													var request = $
													.ajax({
														url : '/mypage/fullcalendar',
														async : true,
														contentType : "application/json; charset=utf-8",
														method : "put",
														dataType : "json",
														data : JSON
																.stringify(calendar)
													});
													
													request.done(function(data){
														alert('수정되었습니다.');
													})
													console.log("eventChange");
												 }
												},
												eventClick : function(obj) { // 이벤트가 삭제되면 발생하는 이벤트
													if(confirm("'"+obj.event.title +"' 일정을 삭제하시겠습니까?")){
														
														var planid = obj.event.id;
														var request = $
														   .ajax({
															   url : '/mypage/fullcalendar',
															   async : true,
															   contentType : "application/json; charset=utf-8",
															   method : "delete",
															   dataType : "json",
															   data : JSON.stringify(planid)
														   });
														
														obj.event.remove();
														request.done(function(data){
															
														})
													}
												},
												select : function(arg) { // 캘린더에서 드래그로 이벤트를 생성할 수 있다.
													var title = prompt('일정을 입력해 주세요.');
													if (title) {
														calendar.addEvent({
															title : title,
															start : arg.start,
															end : arg.end,
															allDay : arg.allDay
														})
													}
													calendar.unselect()
												},
												// 이벤트 
												events : plan
											});
									// 캘린더 랜더링
									calendar.render();
								});
								
							});
						});
	</script>
</body>
</html>