<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="description" content="Ashion Template">
<meta name="keywords" content="Ashion, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Wishlist</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cookie&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
	rel="stylesheet">
</head>
<br>
<br>
<body>
	<!-- Trend Section Begin -->
	<section id="container">
		<div class="container">
			<div class="row">
				<div class='col-sm-4'>
					<tr><h4>
					 <td colspan="2">여행지 <i class="fa-solid fa-umbrella-beach"></i></td>
					</h4></tr>
					<tr th:each="w:${wishlist}">
					<td th:text="${w.pdid}"></td>
					<td th:text="${w.pdname}"></td>
					</tr>
				</div>



				<div class='col-sm-4'>
					<h4>
						맛집 <i class="fa-solid fa-utensils"></i>
					</h4>
				</div>
				
				<div class='col-sm-4'>
					<h4>
						축제 <i class="fa-solid fa-fire-flame-simple"></i>
					</h4>
				</div>
			</div>
		</div>
	</section>
</body>
<!-- Trend Section End -->