<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="description" content="Ashion Template">
<meta name="keywords" content="Ashion, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Wishlist</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cookie&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
	rel="stylesheet">

<script>

function delcheck(){
	var check=confirm("삭제하시겠습니까?");
	if(check==true){
		return true;
	}else if(check==false){
		return false;
	}
};


/*function deleteRow(ths){
	var ths = $(ths);
	
	ths.parents("tr").remove();
};*/
/*$(document).ready(function() {

	function deleteRow(){
    var wid = $("#wid").val();
    var data = {
    		"wid" : wid	
    		
    };
    
    var request =
    	$.ajax({
    		url : '/mypage/delWishlist',
    		contentType : "application/json; charset=utf-8",
    		method : "delete",
    		dataType : "json",
    		data : JSON.stringify(data),
    		success : function(result){
    			console.log("aa");
    		}
    	});	
	
		};
});*/

</script>

</head>
<br>
<br>
<body>
	<!-- wishlist -->
	<section id="container">
		<div class="container">
			<div class="row">
				<table class="table" id="wishlisttable">
					<thead>
						<tr style="text-align: center;">
							<th class="no"><a>no.</a></th>
							<th class="pdid"><a>상세 번호</a></th>
							<th class="title col-6"><a>위시리스트</a></th>
						</tr>
					</thead>
					<tbody>
						<tr style="text-align: center;" th:each="w : ${wishlist}">
							<td id="wid" th:text="${w.wid}"></td>
							<td th:text="${w.pdid}"></td>
							<td th:text="${w.pdname}"></td>
							<td><a th:href="@{/mypage/delWishlist(wid=${w.wid})}"
								onclick="return delcheck();">X</a></td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</section>