<!DOCTYPE HTML>

<head>
 	<!--<link rel="stylesheet" href="/style.css">-->
	<link rel="stylesheet" href="/css/tripcss/trip.css">
</head>
<div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
          
  
<ul class="places">

	<li><a href="#" style= "color : rgb(255, 255, 255)" class="home">서울</a></li>
	<li><a href="#" style= "color : rgb(255, 255, 255)" class="home">인천</a></li>
	<li><a href="#" style= "color : rgb(255, 255, 255)">대전</a></li>
	<li><a href="#" style= "color : rgb(255, 255, 255)">대구</a></li>
	<li><a href="#" style= "color : rgb(255, 255, 255)">부산</a></li>
	<li><a href="#" style= "color : rgb(255, 255, 255)">제주</a></li>
	<li><a href="#" style= "color : rgb(255, 255, 255)">충북</a></li>
	<li><a href="#" style= "color : rgb(255, 255, 255)">충남</a></li>
	<li><a href="#" style= "color : rgb(255, 255, 255)">울산</a></li>
	<li><a href="#" style= "color : rgb(255, 255, 255)">전북</a></li>
	<li><a href="#" style= "color : rgb(255, 255, 255)">전남</a></li>
	<li><a href="#" style= "color : rgb(255, 255, 255)">경북</a></li>
	<li><a href="#" style= "color : rgb(255, 255, 255)">경남</a></li>
</ul>
</div>
 
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;"></h6>
                
               
                
       
       <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;"></h6>
                <h1>여행 소개</h1>
            </div>
            
            <div>
          	 	<ul class="sub-title">	
					<li><a href="#" style= "color : black">여행지</a></li>
					<li><a href="#" style= "color : black">맛집</a></li>
					<li><a href="#" style= "color : black">축제</a></li>
				</ul>     
            </div>
            
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="http://rgo4.com/files/attach/images/2676751/909/558/019/093271cf31ad9cabdf4216e7bbcc7b7b.jpg" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="">
                            <h5 class="text-white">데이터를 입력하세요.</h5>
                            <span>상세위치 입력</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="#" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="">
                            <h5 class="text-white">데이터를 입력하세요.</h5>
                            <span>상세위치 입력</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="#" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="">
                             <h5 class="text-white">데이터를 입력하세요.</h5>
                            <span>상세위치 입력</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="#" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="">
                            <h5 class="text-white">데이터를 입력하세요.</h5>
                            <span>상세위치 입력</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="#" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="">
                             <h5 class="text-white">데이터를 입력하세요.</h5>
                            <span>상세위치 입력</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="#" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="">
                            <h5 class="text-white">데이터를 입력하세요.</h5>
                            <span>상세위치 입력</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
       
       
       
                
  <!— 페이지 처리 —>
<div class="row">
        <nav id="pagination" aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#"><</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">></a></li>
            </ul>
        </nav>
    	</div>

     </div>
        </div>
    </div>