<link rel="stylesheet" th:href="@{/css/main.css}" />

<!-- START THE FEATURETTES -->

	<div>
		<h1 th:text="${c.cname}"></h1>
	</div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1" th:text="${c.cdname1}"></h2>
        <p class="lead" th:text="${c.cdcontent1}"></p>
      </div>
      <div class="col-md-5">
        <img th:src="@{/img/upload/}+${c.cdimg1}"/>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1" th:text="${c.cdname2}"></h2>
        <p class="lead" th:text="${c.cdcontent2}"></p>
      </div>
      <div class="col-md-5 order-md-1">
        <img th:src="@{/img/upload/}+${c.cdimg2}"/>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"  th:text="${c.cdname3}"></h2>
        <p class="lead" th:text="${c.cdcontent3}"></p>
      </div>
      <div class="col-md-5">
        <img th:src="@{/img/upload/}+${c.cdimg3}"/>
      </div>
    </div>

    <hr class="featurette-divider">