<link rel="stylesheet" th:href="@{/css/main.css}" />

	<!-- Main -->
	<div id="main">

		<div class="box alt container">
			<section class="feature left">
				<img th:src="@{/img/baquarium.jpg}" alt="" /></a>
				<div class="content">
					<h3 th:text="${c.cdname1}"></h3>
					<p th:text="${c.cdcontent1}"></p>
				</div>
			</section>
			<section class="feature left">
				<img th:src="@{/img/baquarium.jpg}" alt="" /></a>
				<div class="content">
					<h3 th:text="${c.cdname2}"></h3>
					<p th:text="${c.cdcontent2}"></p>
				</div>
			</section>
			<section class="feature left">
				<img th:src="@{/img/baquarium.jpg}" alt="" /></a>
				<div class="content">
					<h3 th:text="${c.cdname3}"></h3>
					<p th:text="${c.cdcontent3}"></p>
				</div>
			</section>
		</div>
		
	</div>
		
		