<link rel="stylesheet" th:href="@{/css/main.css}" />

<body class="is-preload">
	<!-- Main -->
	<div id="main">

		<div class="box alt container">
			<section class="feature left">
				<a href="#" class="image icon solid"><img
					th:src="@{/img/saryuni.jpg}" alt="" /></a>
				<div class="content">
					<h3>사려니숲길</h3>
					<p>사려니숲길은 제주도 중산간 지역에 위치한 곳으로 가볍게 산책하기 좋은 장소입니다.<br/>
						사려니숲길은 트레킹 명소로 유명한 곳으로 숲길의 코스가 여러 가지입니다.<br/>
						숲길 전체를 둘러보려면 2~3시간이 소요될 정도로 긴 숲길을 형성하고 있습니다.</p>
				</div>
			</section>
			<section class="feature right">
				<a href="#" class="image icon solid"><img
					th:src="@{/img/darang.jpg}" alt="" /></a>
				<div class="content">
					<h3>다랑쉬오름</h3>
					<p>다랑쉬 오름은 제주시 구좌읍에 있는 오름으로 휴식년에 들어간<br/> 용눈이 오름 인근에 위치해 있는 곳입니다.<br/>
						일출 명소로도 유명한 곳으로 높은 시야에서<br/> 일출을 감상하고 싶다면 이곳을 방문하세요.<br/>
						다랑쉬 오름은 특히 가을에 아름다운 곳입니다.</p>
				</div>
			</section>
			<section class="feature left">
				<a href="#" class="image icon solid"><img
					th:src="@{/img/sungsan.jpg}" alt="" /></a>
				<div class="content">
					<h3>성산일출봉</h3>
					<p>성산일출봉은 우리나라 천연기념물 420호로<br/> 지정되어 있으며, 
					유네스코 세계 자연유산으로 등재되어 있는 제주도의 자연관광지입니다.<br/>
					보이기에도 아름답지만 지질할적 의미가 담겨있는 곳으로 화산활동으로 만들어진 제주도를 대표하는 곳입니다.</p>
				</div>
			</section>
		</div>
		<!-- Scripts -->
		<script src="/js/js_course/jquery.min.js"></script>
		<script src="/js/js_course/browser.min.js"></script>
		<script src="/js/js_course/breakpoints.min.js"></script>
		<script src="/js/js_course/util.js"></script>
		<script src="/js/js_course/main.js"></script>
</body>
</html>