<link rel="stylesheet" th:href="@{/css/main.css}" />

<body class="is-preload">
	<!-- Main -->
	<div id="main">

		<div class="box alt container">
			<section class="feature left">
				<a href="#" class="image icon solid"><img
					th:src="@{/img/hueree.jpg}" alt="" /></a>
				<div class="content">
					<h3>휴애리</h3>
					<p>휴애리는 자연생활공원으로 사진 찍기 좋고, <br/>
						산책하며 꽃과 자연을 구경하기 좋고, 
						여름, 겨울에는 감귤따기 체험을 할 수 있어 볼거리, 놀거리가 모여있는 곳입니다.</p>
				</div>
			</section>
			<section class="feature right">
				<a href="#" class="image icon solid"><img
					th:src="@{/img/borom.jpg}" alt="" /></a>
				<div class="content">
					<h3>보롬왓</h3>
					<p>보롬왓은 농장형 카페로<br/> 제주도 여행 사진 명소로 잘 알려진 곳입니다.<br/>
						보롬왓의 시작은 농작물 재배이며 농장을<br/> 관광객들에게 
						개방하면서 SNS를 통해 알려진 곳입니다.</p>
				</div>
			</section>
			<section class="feature left">
				<a href="#" class="image icon solid"><img
					th:src="@{/img/camel.jpg}" alt="" /></a>
				<div class="content">
					<h3>카멜리아힐</h3>
					<p>카멜리아 힐은 대한민국 관광 100선에 소개될 만큼 
					제주도 여행에서 사람들이 많이 찾는 유명 관광지입니다.<br/>
					6만여 평의 부지에 사계절 다양한 꽃들이 정원을 꽉채워주는 곳으로 사진 찍기 좋은 곳이며
					다양한 꽃을 둘러보며 구경하기 좋은 곳입니다.</p>
				</div>
			</section>
		</div>
		<!-- Scripts -->
		<script src="/js/js_course/jquery.min.js"></script>
		<script src="/js/js_course/browser.min.js"></script>
		<script src="/js/js_course/breakpoints.min.js"></script>
		<script src="/js/js_course/util.js"></script>
		<script src="/js/js_course/main.js"></script>
</body>
</html>