<link rel="stylesheet" th:href="@{/css/main.css}" />

<body class="is-preload">
	<!-- Main -->
	<div id="main">

		<div class="box alt container">
			<section class="feature left">
				<a href="#" class="image icon solid">
				<img th:src="@{/img/danubi.jpg}" alt="" /></a>
				<div class="content">
					<h3>다누비 열차</h3>
					<p>쉽고 빠르게 태종대 인근을 관광하고 싶을 때 좋은 대안인 열차. 다누비라는 명칭은 '다 누빈다'라는 말에서 유래되었다.
					이름처럼 <b>태종대를 한바퀴 순환하는 열차</b>이다.
					어린이와 함께 가거나 어르신을 모시고 여행할 때 이용하면 편하게 태종대를 둘러볼 수 있다.</p>
				</div>
			</section>
			<section class="feature right">
				<a href="#" class="image icon solid">
				<img th:src="@{/img/yddd.jpg}" alt="" /></a>
				<div class="content">
					<h3>영도 등대</h3>
					<p>부산 일대에서 보기 드문 <b>울창한 숲</b>과 <b>기암 괴석으로 된 해식절벽 및 푸른 바다</b> 등이 조화를 이루는 아름다운 곳.
					기암절벽 위에서 즐기는 푸른 바다와 시원한 경치를 보고 싶다면 반드시 가야 할 곳!
					영도 등대 아래에는 <b>해녀촌</b>이 있어 바다를 보며 신선한 해산물을 즐길 수 있다.</p>
				</div>
			</section>
			<section class="feature left">
				<a href="#" class="image icon solid">
				<img th:src="@{/img/taejongsaa.jpg}" alt="" /></a>
				<div class="content">
					<h3>태종사</h3>
					<p>부처님의 진신사리가 봉안된 태종사. 태종사 경내에는 <b>10여종의 약 3,000그루 수국</b>이 군락을 지어
					<b>개화기인 6월부터 9월까지 만개</b>를 이루고 숲속의 나비와 구름이 되어 꽃들의 향연을 이룬다.
					수국철이 되면 <b>전국에서 사람들이 찾아오는 유명한 관광지</b>. 수국 축제가 열리지 않을 때는 고즈넉해서 좋은 곳이다.</p>
				</div>
			</section>
		</div>
		<!-- Scripts -->
		<script src="/js/js_course/jquery.min.js"></script>
		<script src="/js/js_course/browser.min.js"></script>
		<script src="/js/js_course/breakpoints.min.js"></script>
		<script src="/js/js_course/util.js"></script>
		<script src="/js/js_course/main.js"></script>
</body>
</html>