<link rel="stylesheet" th:href="@{/css/main.css}" />

<body class="is-preload">
	<!-- Main -->
	<div id="main">

		<div class="box alt container">
			<section class="feature left">
				<a href="#" class="image icon solid">
				<img th:src="@{/img/baquarium.jpg}" alt="" /></a>
				<div class="content">
					<h3>부산 아쿠아리움</h3>
					<p>도심 속을 훨훨 날아다니는 듯한 가오리 비행단의 모습을 관찰할 수 있는 <b>가오리 터널</b>,
					바닷속 친구들과 교감할 수 있는 <b>이벤트홀</b>, 아쿠아리움에서 펼쳐지는 패션쇼인 <b>패션존</b>까지! 
					<br>다양한 즐길거리가 있다.</p>
				</div>
			</section>
			<section class="feature right">
				<a href="#" class="image icon solid">
				<img th:src="@{/img/dongbaek.jpg}" alt="" /></a>
				<div class="content">
					<h3>동백섬</h3>
					<p>부산기념물 제46호. 
					<br>예전에는 독립된 섬이었으나 오랜 세월에 걸친 퇴적작용으로 현재는 <b>육지화된 섬</b>이며
					<br>해운대 해수욕장과 연결되어 있다.
					<br>이곳에는 APEC 정상회담이 열렸던 
					<br><b>누리마루 APEC 하우스</b>도 있다.</p>
				</div>
			</section>
			<section class="feature left">
				<a href="#" class="image icon solid">
				<img th:src="@{/img/bluelinepark.jpg}" alt="" /></a>
				<div class="content">
					<h3>블루라인파크</h3>
					<p>부산 여행이라고 하면 빠질 수 없는 명소, 해운대 블루라인파크. 송정역 출발 미포역까지 가는 <b>해변열차</b>.
					바다를 보며 낭만을 즐겨 보자.</p>
				</div>
			</section>
		</div>
		<!-- Scripts -->
		<script src="/js/js_course/jquery.min.js"></script>
		<script src="/js/js_course/browser.min.js"></script>
		<script src="/js/js_course/breakpoints.min.js"></script>
		<script src="/js/js_course/util.js"></script>
		<script src="/js/js_course/main.js"></script>
</body>
</html>