<link rel="stylesheet" th:href="@{/css/main.css}" />

<body class="is-preload">
	<!-- Main -->
	<div id="main">

		<div class="box alt container">
			<section class="feature left">
				<a href="#" class="image icon solid">
				<img th:src="@{/img/gwangallihaesu.jpg}" alt="" /></a>
				<div class="content">
					<h3>광안리 해수욕장</h3>
					<p>부산 하면 대표적으로 떠오르는, 빼놓을 수 없는 명소. <b>맛집</b>과 <b>카페</b>가 많고 <b>광안대교의 야경</b>이 멋있는 것으로 유명하다.
					근처 수변공원을 걸으며 산책을 할 수도 있다. 드넓은 바다와 푸른 하늘, 멀리 펼쳐진 광안대교를 보고 있으면 마음이 뻥 뚫리는 곳.</p>
				</div>
			</section>
			<section class="feature right">
				<a href="#" class="image icon solid">
				<img th:src="@{/img/busantower.jpg}" alt="" /></a>
				<div class="content">
					<h3>부산 타워</h3>
					<p>용두산 공원에 위치한 부산 타워의 꼭대기 전망대는 부산에서 멀지 않은 경주시의 불국사 다보탑 지붕에 얹혀 있는 보개 모양을 본떠 만들었다고 한다.
					엘리베이터를 타고 올라가 보면 <b>부산 중구의 시내가 한눈에 들어온다.</b> 특히 바다 쪽 뷰가 좋다.
					전망대 2층에는 부산의 색을 테마로 한 공간들, 4층에는 하늘 위의 잠수함이 있어서 <b>SNS에 올릴 사진 스팟이 많은 곳.</b></p>
				</div>
			</section>
			<section class="feature left">
				<a href="#" class="image icon solid">
				<img th:src="@{/img/gamcheon.jpg}" alt="" /></a>
				<div class="content">
					<h3>감천문화마을</h3>
					<p>산자락을 따라 질서정연하게 늘어선 계단식 집단 주거 형태와 모든 길이 통하는 <b>미로미로(美路迷路) 골목길의 경관</b>은
					감천만의 독특함을 보여 준다. 특색을 살리기 위한 <b>마을미술 프로젝트</b>로 인해 <b>308만여명</b>이 방문하는 명소이다. 
					<br><b>생활과 예술이 공존</b>하는 곳.</p>
				</div>
			</section>
		</div>
		<!-- Scripts -->
		<script src="/js/js_course/jquery.min.js"></script>
		<script src="/js/js_course/browser.min.js"></script>
		<script src="/js/js_course/breakpoints.min.js"></script>
		<script src="/js/js_course/util.js"></script>
		<script src="/js/js_course/main.js"></script>
</body>
</html>