<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trip.mapper.InquiryMapper">

	<insert id="insertInquiry" parameterType="Inquiry">
		INSERT INTO inquiry VALUES (null, #{custid}, #{icate}, #{icontent}, #{file}, null, NOW())
	</insert>
	
	<delete id="deleteInquiry">
		DELETE FROM inquiry WHERE inquiryid=#{inquiryid} AND custid=#{custid}
	</delete>
	
	<update id="updateInquiry" parameterType="Inquiry">
		UPDATE inquiry SET icate=#{icate}, icontent=#{icontent} WHERE inquiryid=#{inquiryid}
	</update>
	
	<select id="selectInquiry" parameterType="Integer" resultType="Inquiry">
		SELECT * FROM inquiry WHERE inquiryid=#{inquiryid}
	</select>
	
	<select id="selectInquiryList" resultType="Inquiry">
		SELECT * FROM inquiry WHERE custid=#{custid} ORDER BY inquiryid desc
	</select>
</mapper>