<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trip.mapper.NoticeMapper">
	
	<select id="selectNoticeList" resultType="Notice">
		<![CDATA[
			SELECT x.noid, x.nottitle, x.notice, x.file, x.hit, x.rdate
			FROM (
				SELECT @rownum:=@rownum+1 as rn, a.noid, a.nottitle, a.notice, a.file, a.hit, a.rdate
				FROM(
					SELECT noid, nottitle, notice, file, hit, rdate
					FROM notice
				]]>
					<if test="searchWord != null">
						where ${searchKey} like '%${searchWord}%'
					</if>
					<![CDATA[
					order by noid DESC) A, (SELECT @rownum:=0)R
				WHERE @rownum <= #{pageNum}*#{total}) x
			WHERE x.rn > (#{pageNum}-1)*#{total}
			]]>
	</select>
	
	<update id="updateHitCount" parameterType="int">
		UPDATE notice SET hit=hit+1 WHERE noid=${noid}
	</update>
	
	<select id="getTotalData" resultType="int">
		SELECT COUNT(noid) FROM notice
		<if test="searchWord!=null">
			where ${searchKey} like '%${searchWord}%'
		</if>

	</select>
	<select id="selectNotice" parameterType="Integer" resultType="Notice">
		SELECT  noid, nottitle, notice, file,hit, rdate FROM notice WHERE noid=#{noid}
	</select>
</mapper>