<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.mapper.CustMapper">

	<select id="insert" parameterType="Cust">
		INSERT INTO cust VALUES (#{custid}, #{custpwd}, #{custname}, #{custnick}, #{custphone}, #{custemail}, NOW())
	</select>
	<select id="delete" parameterType="String">
		DELETE FROM cust WHERE custid=#{custid}
	</select>
	<select id="update" parameterType="Cust">
		UPDATE cust SET custpwd=#{custpwd}, custname=#{custname}, custnick=#{custnick}, custphone=#{custphone}, custemail=#{custemail} WHERE custid=#{custid}
	</select>
	<select id="select" parameterType="String" resultType="Cust">
		SELECT * FROM cust WHERE custid=#{custid}
	</select>
	<select id="selectall" resultType="Cust">
		SELECT custid, custpwd, custname, custnick, custphone, custemail, rdate FROM cust
	</select>

	
	<select id="msearchId" parameterType="String" resultType="Cust">
		SELECT * FROM cust WHERE custid LIKE CONCAT('%', #{param1}, '%')
	</select>
	<select id="msearchName" parameterType="String" resultType="Cust">
		SELECT * FROM cust WHERE custname LIKE CONCAT('%', #{param1}, '%')
	</select>
	
	<select id="getCustList" resultType="Cust">
		SELECT custid, custname, custnick, custphone, custemail, rdate 
		FROM cust
		<if test="searchWord!=null">
			<if test="searchKey=='id'">
				WHERE custid LIKE CONCAT('%', #{searchWord}, '%')
			</if>
			<if test="searchKey=='name'">
				WHERE custname like CONCAT('%', #{searchWord}, '%')
			</if> 
		</if>
	
	</select>
	
	<select id="getTotalData" resultType="int">
		SELECT COUNT(custid) FROM cust
		<if test="searchWord!=null and searchWord!=''">
			<if test="searchKey=='id'">
				WHERE custid like CONCAT('%', #{searchWord}, '%')
			</if>
			<if test="searchKey=='name'">
				WHERE custname like CONCAT('%', #{searchWord}, '%')
			</if>
		</if>
	</select>
	
</mapper>









