<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.mapper.InquiryMapper">
	
	<delete id="deleteInquiry" parameterType="Integer">
		DELETE FROM inquiry WHERE inquiryid=#{inquiryid}
	</delete>
	
	<update id="updateInquiry" parameterType="Inquiry">
		UPDATE inquiry SET iprocess="Y" WHERE inquiryid=#{inquiryid}
	</update>
	
	<select id="selectInquiry" parameterType="Integer" resultType="Inquiry">
		SELECT * FROM inquiry WHERE inquiryid=#{inquiryid}
	</select>
	
	<select id="selectInquiryList" resultType="Inquiry">
		<![CDATA[
			SELECT x.inquiryid, x.custid, x.icate, x.icontent, x.file, x.iprocess, x.rdate
			FROM (
				SELECT @rownum:=@rownum+1 as rn, a.inquiryid, a.custid, a.icate, a.icontent, a.file, a.iprocess, a.rdate
				FROM(
					SELECT inquiryid, custid, icate, icontent, file, iprocess, rdate
					FROM inquiry
					order by inquiryid DESC) A, (SELECT @rownum:=0)R
				WHERE @rownum <= #{pageNum}*#{total}) x
			WHERE x.rn > (#{pageNum}-1)*#{total}
		]]>
	</select>
	
	<select id="getTotalData" resultType="int">
		SELECT COUNT(inquiryid) FROM inquiry
	</select>
</mapper>