<style>
.search-form {
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
}

.search-form input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 1rem;
  height: 100%;
  font-size: 1rem;
}

.search-form select {
  background: transparent;
  border: 0;
  padding: 1rem;
  height: 100%;
  font-size: 1rem;
}

.search-form select:focus {
  border: 0;
}

.search-form button {
  height: 100%;
  width: 100%;
  font-size: 1rem;
}

.search-form button svg {
  width: 24px;
  height: 24px;
}

.card-margin {
  margin-bottom: 1.875rem;
}

@media (min-width: 992px) {
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}

.card {
  border: 0;
  box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid #e6e4e9;
  border-radius: 8px;
}

#write {
	float: right;
}
#pagination{
	margin:auto;
}
#not{
	text-align:center;
}
#word-cut{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

</style>


<div class="row">
			<div class="col-lg-12 card-margin">
				<div class="card search-form">
					<div class="card-body p-0">
						<form id="search-form" th:action="@{/admin-inf-manage}">
							<div class="row">
								<div class="col-12">
									<div class="row no-gutters">
										<div class="col-lg-3 col-md-3 col-sm-12 p-0">
											<label for="search-type" hidden>유형</label> 
											<select class="form-control" id="searchKey" name="searchKey">
												<option value="id">id</option>
												<option value="name">name</option>
											</select>
										</div>
										<div class="col-lg-8 col-md-6 col-sm-12 p-0">
											<label for="search-value" hidden>검색어</label> 
											<input type="text" placeholder="검색어를 입력하세요" class="form-control" id="searchWord" name="searchWord">
										</div>
										<div class="col-lg-1 col-md-3 col-sm-12 p-0">
											<button type="submit" class="btn btn-base">
												<svg xmlns="http://www.w3.org/2000/svg" width="24"
													height="24" viewBox="0 0 24 24" fill="none"
													stroke="currentColor" stroke-width="2"
													stroke-linecap="round" stroke-linejoin="round"
													class="feather feather-search">
														<circle cx="11" cy="11" r="8"></circle>
														<line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
											</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">관리자 ID</th>
      <th scope="col">관리자 이름</th>
      <th scope="col">관리자 email</th>
      <th scope="col">관리자 Lev</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="a:${list}">
      <td th:text="${a.adid}"></td>
      <td th:text="${a.adname}"></td>
      <td th:text="${a.ademail}"></td>
      <td th:text="${a.adlev}"></td>
      <td th:if="${a.adlev} < 3">
      	<form method="get" th:action="@{/clev}">
      		<select name="lev">
      			<option value="0">0</option>
      			<option value="1">1</option>
      			<option value="2">2</option>
      			<option value="3">3</option>
      		</select>
      		<input type="hidden" name="adid" th:value="${a.adid}">
      		<input type="submit" id="clev" value="변경">
      	</form>
      </td>
    </tr> 
  </tbody>
</table>





<script>
	
	
</script>














