<section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">

                <div class="card-body">
                  <h5 class="card-title">Customers <span>| This Today</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6 th:text="${mc}"></h6>
                      <span class="text-danger small pt-1 fw-bold" th:text="'+'+${tmc}"></span> <span class="text-muted small pt-2 ps-1">increase</span>

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->

            <!-- Reports -->
            <div class="col-12">
              <div class="card">

                <div class="card-body">
                  <h5 class="card-title">Reports</h5>

                  <!-- Line Chart -->
                  <div id="reportsChart"></div>

                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      new ApexCharts(document.querySelector("#reportsChart"), {
                        series: [{
                          name: 'boards',
                          data: [31, 40, 28, 51, 42, 82, 56],
                        }, {
                          name: 'Customers',
                          data: [15, 11, 32, 18, 9, 24, 11]
                        }],
                        chart: {
                          height: 350,
                          type: 'area',
                          toolbar: {
                            show: false
                          },
                        },
                        markers: {
                          size: 4
                        },
                        colors: ['#4154f1', '#2eca6a', '#ff771d'],
                        fill: {
                          type: "gradient",
                          gradient: {
                            shadeIntensity: 1,
                            opacityFrom: 0.3,
                            opacityTo: 0.4,
                            stops: [0, 90, 100]
                          }
                        },
                        dataLabels: {
                          enabled: false
                        },
                        stroke: {
                          curve: 'smooth',
                          width: 2
                        },
                        xaxis: {
                          type: 'datetime',
                          categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                        },
                        tooltip: {
                          x: {
                            format: 'dd/MM/yy HH:mm'
                          },
                        }
                      }).render();
                    });
                  </script>
                  <!-- End Line Chart -->

                </div>

              </div>
            </div><!-- End Reports -->


            <!-- popularity board -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">

                <div class="card-body pb-0">
                  <h5 class="card-title">Popularity board</h5>

                  <table class="table table-borderless">
                    <thead>
                      <tr>
                      	<th scope="col">카테고리</th>
                        <th scope="col">제목</th>
                        <th scope="col">ID</th>
                        <th scope="col">조회수</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </t>
                    </tbody>
                  </table>

                </div>

              </div>
            </div>

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Admin List -->
          <div class="card">
            
            <div class="card-body">
              <h5 class="card-title">Admin List</h5>

              <div class="activity">
					<table class="table table-striped">
						  <thead>
						    <tr>
						      <th scope="col">이름</th>
						      <th scope="col">email</th>
						      <th scope="col">LEV</th>
						    </tr>
						  </thead>
						  <tbody>
						
						    <tr th:each="a:${list}">
						      <td th:text="${a.adname}"></td>
						      <td th:text="${a.ademail}"></td>
						      <td th:text="${a.adlev}"></td>
						    </tr>
						     
						  </tbody>
					</table>
              </div>

            </div>
          </div><!-- End Admin List -->

          <!-- 1:1 Inquiry -->
          <div class="card">
            <div class="card-body pb-0">
              <h5 class="card-title">1:1 Inquiry (new)</h5>
				
				<div class="activity">
					<table class="table table-striped">
						  <thead>
						    <tr>
						      <th scope="col">제목</th>
						      <th scope="col">작성자</th>
						      <th scope="col">답변여부</th>
						    </tr>
						  </thead>
						  <tbody>
						
						    <tr th:each="i:${ilist}">
						      <td><a th:href="@{/inquiry/inquiryview(inquiryid=${i.inquiryid})}" th:text="${i.icate}" style="color: black;"></a></td>
						      <td th:text="${i.custid}"></td>
						      <td th:text="${i.iprocess}"></td>
						    </tr>
						     
						  </tbody>
					</table>
              </div>
           

            </div>
          </div>
          
          <!-- Popularity Item-->
          <div class="card">

            <div class="card-body pb-0">
              <h5 class="card-title">Popularity Item</h5>
				
				<div class="activity">
					<table class="table table-striped">
						  <thead>
						    <tr>
						    	<th scope="col">IMG</th>
						      	<th scope="col">ITEM</th>
						      	<th scope="col"><img th:src="@{/img/like.png}" width="20"></th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr th:each="p:${plist}">
						    	<td><img th:src="${p.imgname1}" width="50"></td>
						      	<td th:text="${p.pdname}"></td>
						      	<td th:text="${p.pdlike}"></td>
						    </tr>						     
						  </tbody>
					</table>
              	</div>

            </div>
          </div>

 

        </div><!-- End Right side columns -->

      </div>
    </section>


