<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">번호</th>
      <th scope="col">회원 아이디</th>
      <th scope="col">회원 이름</th>
      <th scope="col">회원 닉네임</th>
      <th scope="col">회원 연락처</th>
      <th scope="col">회원 이메일</th>
      <th scope="col">가입일</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="m:${mlist}">
      <td th:text="1"></td>
      <td th:text="${m.custid}"></td>
      <td th:text="${m.custname}"></td>
      <td th:text="${m.custnick}"></td>
      <td th:text="${m.custphone}"></td>
      <td th:text="${m.custemail}"></td>
      <td th:text="${m.rdate}"></td> 
    </tr>  
  </tbody>
</table>