<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.container{
	margin-top:50px;
	max-width: 700px;
}
.notice_view{
margin-top:20px;
	border:1px solid;
}
td, th{
	border-bottom:1px solid;
	border-right:1px solid;
	text-align: center;
	padding: 5px;
}
button{
	margin-top:20px;
	border:0;
}
</style>
</head>
<body>
<div class="container">
<h2>상세 화면</h2>
		<form id="form" method="post">
		
	    	<table class="notice_view">
				<colgroup>
					<col width="15%"/>
					<col width="35%"/>
					<col width="15%"/>
					<col width="35%"/>
				</colgroup>
				
				<tbody>
					<tr>
						<th scope="row">글 번호</th>
						<td th:text="${notice.noid}"></td>
						<th scope="row">조회수</th>
						<td th:text="${notice.hit}"></td>
					</tr>
					<tr>
						<th scope="row">작성일</th>
						<td th:text="${notice.rdate}"></td>
					</tr>
					<tr>
						<th scope="row">제목</th>
						<td colspan="3" id="nottitle" class="nottitle" th:text="${notice.nottitle}">
						</td>
					</tr>
					<tr>
						<th scope="row">내용</th>
						<td colspan="5" id="notice" th:text="${notice.notice}"></td>
					</tr>
					<tr th:if="${notice.file != null}">
						<th scope="row">첨부파일</th>
						<td colspan="5"><img id="upimg"
							th:src="@{/img/upload/}+${inquiry.file}"/></td>
					</tr>
				</tbody>
			</table>
			 <input type="hidden" name="noid" th:value="${notice.noid}">
		</form>
		
		<span class="send_btn">
			<button id="back"><a th:href="@{/notice}">목록</a></button>
		</span>
		
	</div>
</body>
</html>